<!DOCTYPE html>
<html lang="ja">

<head>
  <%# ##_headを読み込み## %>
  <%- include('./_head.ejs', {CONFIG: config["comments"]}); %>
  <script type="application/ld+json">
      [
        {
          "@context": "http://schema.org",
          "@type": "WebPage",
          "@id": "https://youlog.net/dist-3rd-last/comments.html",
                  "name": "COMMENTS-練習用サイト",
                  "description": "commentsのディスクリプションです。"
        },
        {
          "@context": "http://schema.org",
          "@type": "BreadcrumbList",
          "itemListElement":
          [
            {
              "@type": "ListItem",
              "position": 1,
              "name": "ホーム",
              "item": "https://youlog.net/dist-3rd-last/"
            },
            {
              "@type": "ListItem",
              "position": 2,
              "name": "comments",
              "item": "https://youlog.net/dist-3rd-last/comments.html"
            }
          ]
        }
      ]
    </script>
</head>

<body class="ly_bgImg" style="background-image: url('./img/backgroungImage@2x.jpg');">

  <!-- HEADER -->
  <%# ----------------_headerを読み込む---------------- %>
  <%- include('./_header.ejs') %>
  <!-- / HEADER -->

  <main>

    <!-- FIRST VIEW -->
    <%# ----------------_first-view-shortを読み込む---------------- %>
    <%- include('./_first-view-short.ejs') %>
    <!-- / FIRST VIEW -->

    <!-- FIRST VIEW BTN -->
    <%# ----------------_first-view-btnを読み込む---------------- %>
    <%- include('./_first-view-btn.ejs') %>
    <!-- FIRST VIEW BTN -->

    <!-- BREADCRUMBS -->
    <nav class="ly_container ly_container__paddingContents bl_breadcrumbs">
      <ol class="bl_breadcrumbs_ol" itemscope itemtype="https://schema.org/BreadcrumbList">
        <li class="bl_breadcrumbs_li" itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
          <a class="bl_breadcrumbs_link" href="https://youlog.net/3rdLast/index.html" itemprop="item">
            <span class="bl_breadcrumbs_txt" itemprop="name">ホーム</span>
          </a>
          <meta itemprop="position" content="1" />
        </li>
        <li class="bl_breadcrumbs_li" itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
          <span class="bl_breadcrumbs_txt" itemprop="name">COMMENTS</span>
          <meta itemprop="position" content="2" />
        </li>
      </ol>
    </nav>
    <!-- / BREADCRUMBS -->

    <!-- COMMENTS -->
    <%# ----------------_comments-lowerを読み込む---------------- %>
    <%- include('./_comments-lower.ejs') %>
    <!-- / COMMENTS -->

    <!-- COMMENTS LIST -->
    <div class="ly_container ly_container__paddingContents bl_commentsList_wrapper">
      <div class="bl_commentsList bl_colUnit bl_colUnit__col3">
        <div class="bl_colItem">
          <div class="bl_intro">
            <div class="bl_intro_info">
              <p class="bl_intro_name">小池博史</p>
              <p class="bl_intro_status">文化人類学者</p>
            </div>
            <!-- / .bl_intro_info -->
            <p class="bl_intro_txt">
              蝶は風を受けて飛ぶ。いやむしろ、風を切って飛ぶ。いやさらにいえば、みずから風を孕み風を生み出す。<br>
              吹きすさび循環する大風のような物語。小池舞台はそんな物語を生成する未知なる蝶の飛翔だ。
            </p>
          </div>
          <!-- / .bl_intro -->
        </div>
        <!-- / .bl_colItem -->
        <div class="bl_colItem">
          <div class="bl_intro">
            <div class="bl_intro_info">
              <p class="bl_intro_name">小池博史</p>
              <p class="bl_intro_status">文化人類学者</p>
            </div>
            <!-- / .bl_intro_info -->
            <p class="bl_intro_txt">
              蝶は風を受けて飛ぶ。いやむしろ、風を切って飛ぶ。いやさらにいえば、みずから風を孕み風を生み出す。<br>
              吹きすさび循環する大風のような物語。小池舞台はそんな物語を生成する未知なる蝶の飛翔だ。
            </p>
          </div>
          <!-- / .bl_intro -->
        </div>
        <!-- / .bl_colItem -->
        <div class="bl_colItem">
          <div class="bl_intro">
            <div class="bl_intro_info">
              <p class="bl_intro_name">小池博史</p>
              <p class="bl_intro_status">文化人類学者</p>
            </div>
            <!-- / .bl_intro_info -->
            <p class="bl_intro_txt">
              蝶は風を受けて飛ぶ。いやむしろ、風を切って飛ぶ。いやさらにいえば、みずから風を孕み風を生み出す。<br>
              吹きすさび循環する大風のような物語。小池舞台はそんな物語を生成する未知なる蝶の飛翔だ。
            </p>
          </div>
          <!-- / .bl_intro -->
        </div>
        <!-- / .bl_colItem -->
        <div class="bl_colItem">
          <div class="bl_intro">
            <div class="bl_intro_info">
              <p class="bl_intro_name">小池博史</p>
              <p class="bl_intro_status">文化人類学者</p>
            </div>
            <!-- / .bl_intro_info -->
            <p class="bl_intro_txt">
              蝶は風を受けて飛ぶ。いやむしろ、風を切って飛ぶ。いやさらにいえば、みずから風を孕み風を生み出す。<br>
              吹きすさび循環する大風のような物語。小池舞台はそんな物語を生成する未知なる蝶の飛翔だ。
            </p>
          </div>
          <!-- / .bl_intro -->
        </div>
        <!-- / .bl_colItem -->
        <div class="bl_colItem">
          <div class="bl_intro">
            <div class="bl_intro_info">
              <p class="bl_intro_name">小池博史</p>
              <p class="bl_intro_status">文化人類学者</p>
            </div>
            <!-- / .bl_intro_info -->
            <p class="bl_intro_txt">
              蝶は風を受けて飛ぶ。いやむしろ、風を切って飛ぶ。いやさらにいえば、みずから風を孕み風を生み出す。<br>
              吹きすさび循環する大風のような物語。小池舞台はそんな物語を生成する未知なる蝶の飛翔だ。
            </p>
          </div>
          <!-- / .bl_intro -->
        </div>
        <!-- / .bl_colItem -->
        <div class="bl_colItem">
          <div class="bl_intro">
            <div class="bl_intro_info">
              <p class="bl_intro_name">小池博史</p>
              <p class="bl_intro_status">文化人類学者</p>
            </div>
            <!-- / .bl_intro_info -->
            <p class="bl_intro_txt">
              蝶は風を受けて飛ぶ。いやむしろ、風を切って飛ぶ。いやさらにいえば、みずから風を孕み風を生み出す。<br>
              吹きすさび循環する大風のような物語。小池舞台はそんな物語を生成する未知なる蝶の飛翔だ。
            </p>
          </div>
          <!-- / .bl_intro -->
        </div>
        <!-- / .bl_colItem -->
        <div class="bl_colItem">
          <div class="bl_intro">
            <div class="bl_intro_info">
              <p class="bl_intro_name">小池博史</p>
              <p class="bl_intro_status">文化人類学者</p>
            </div>
            <!-- / .bl_intro_info -->
            <p class="bl_intro_txt">
              蝶は風を受けて飛ぶ。いやむしろ、風を切って飛ぶ。いやさらにいえば、みずから風を孕み風を生み出す。<br>
              吹きすさび循環する大風のような物語。小池舞台はそんな物語を生成する未知なる蝶の飛翔だ。
            </p>
          </div>
          <!-- / .bl_intro -->
        </div>
        <!-- / .bl_colItem -->
      </div>
      <!-- / .bl_commentsList.bl_colUnit.bl_colUnit__col3 -->
    </div>
    <!-- COMMENTS LIST -->


    <!-- SCHEDULE -->
    <%# ----------------_scheduleを読み込む---------------- %>
    <%- include('./_schedule.ejs') %>
    <!-- / SCHEDULE -->

  </main>


  <!-- FOOTER -->
  <%# ----------------_footerを読み込む---------------- %>
  <%- include('./_footer.ejs') %>
  <!-- / FOOTER -->

</body>

</html>