<!DOCTYPE html>
<html lang="ja">

<head>
  <%# ##_headを読み込み## %>
  <%- include('./_head.ejs', {CONFIG: config["inquiry"]}); %>
  <script type="application/ld+json">
    [
      {
        "@context": "http://schema.org",
        "@type": "WebPage",
        "@id": "https://youlog.net/dist-3rd-last/inquriy.html",
                "name": "INQUIRY-練習用サイト",
                "description": "INQUIRYのディスクリプションです。"
      },
      {
        "@context": "http://schema.org",
        "@type": "BreadcrumbList",
        "itemListElement":
        [
          {
            "@type": "ListItem",
            "position": 1,
            "name": "ホーム",
            "item": "https://youlog.net/dist-3rd-last/"
          },
          {
            "@type": "ListItem",
            "position": 2,
            "name": "INQUIRY",
            "item": "https://youlog.net/dist-3rd-last/inquriy.html"
          }
        ]
      }
    ]
  </script>
</head>

<body class="ly_bgImg" style="background-image: url('./img/backgroungImage@2x.jpg');">

  <!-- HEADER -->
  <%# ----------------_headerを読み込む---------------- %>
  <%- include('./_header.ejs') %>
  <!-- / HEADER -->



  <main>

    <!-- FIRST VIEW -->
    <%# ----------------_first-view-shortを読み込む---------------- %>
    <%- include('./_first-view-short.ejs') %>
    <!-- / FIRST VIEW -->

    <!-- FIRST VIEW BTN -->
    <%# ----------------_first-view-btnを読み込む---------------- %>
    <%- include('./_first-view-btn.ejs') %>
    <!-- FIRST VIEW BTN -->

    <!-- BREADCRUMBS -->
    <nav class="ly_container ly_container__paddingContents bl_breadcrumbs">
      <ol class="bl_breadcrumbs_ol" itemscope itemtype="https://schema.org/BreadcrumbList">
        <li class="bl_breadcrumbs_li" itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
          <a class="bl_breadcrumbs_link" href="https://youlog.net/3rdLast/index.html" itemprop="item">
            <span class="bl_breadcrumbs_txt" itemprop="name">ホーム</span>
          </a>
          <meta itemprop="position" content="1" />
        </li>
        <li class="bl_breadcrumbs_li" itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
          <span class="bl_breadcrumbs_txt" itemprop="name">INQUIRY</span>
          <meta itemprop="position" content="2" />
        </li>
      </ol>
    </nav>
    <!-- / BREADCRUMBS -->

    <!-- INQUIRY -->
    <section class="ly_container ly_container__paddingContents bl_inquiry_wrapper">
      <div class="bl_inquiry">
        <h1 class="el_h2">INQUIRY</h1>

        <div class="bl_inquiry_outer">
          <p class="bl_inquiry_txt">
            小池博史ブリッジプロジェクトにご興味を持っていただきまして、ありがとうございます。<br>
            公演に関するお問い合わせ、公演・ワークショップのご依頼など、<br>
            お電話（03-3385-2066）か、下記フォームよりお気軽にお問い合わせください。
          </p>
          <form action="confirm.html" method="GET" class="bl_inquiry_form">
            <dl class="bl_inquiry_formDl">
              <div class="bl_inquiry_row">
                <dt class="bl_inquiry_formDt">
                  <label for="name">お名前</label>
                </dt>
                <dd class="bl_inquiry_formDd">
                  <input id="name" type="text" name="name" autocomplete="name">
                </dd>
              </div>
              <div class="bl_inquiry_row">
                <dt class="bl_inquiry_formDt">
                  <label for="tel">電話番号</label>
                </dt>
                <dd class="bl_inquiry_formDd">
                  <input id="tel" type="tel" name="tel" autocomplete="tel">
                </dd>
              </div>
              <div class="bl_inquiry_row">
                <dt class="bl_inquiry_formDt">
                  <label for="email">メールアドレス</label>
                </dt>
                <dd class="bl_inquiry_formDd">
                  <input id="email" type="email" name="email" autocomplete="email">
                </dd>
              </div>
              <div class="bl_inquiry_row">
                <dt class="bl_inquiry_formDt">
                  <label for="textarea">内容</label>
                </dt>
                <dd class="bl_inquiry_formDd">
                  <textarea name="textarea" id="textarea" cols="30" rows="10"></textarea>
                </dd>
              </div>
            </dl>
            <div class="bl_inquiry_btnWrapper">
              <button type="submit" name="submitConfirm" value="confirm" class="el_btn el_btn__large">送信</button>
            </div>
          </form>
        </div>
      </div>
    </section>
    <!-- / INQUIRY -->


    <!-- SCHEDULE -->
    <%# ----------------_scheduleを読み込む---------------- %>
    <%- include('./_schedule.ejs') %>
    <!-- SCHEDULE -->

  </main>

  <!-- FOOTER -->
  <%# ----------------_footerを読み込む---------------- %>
  <%- include('./_footer.ejs') %>
  <!-- FOOTER -->

</body>

</html>