<!DOCTYPE html>
<html lang="ja">

<head>
  <%# ##_headを読み込み## %>
  <%- include('./_head.ejs', {CONFIG: config["news-single"]}); %>
  <script type="application/ld+json">
    [
      {
        "@context": "http://schema.org",
        "@type": "WebPage",
        "@id": "https://youlog.net/dist-3rd-last/news-single.html",
                "name": "NEWS-SINGLE-練習用サイト",
                "description": "NEWS-SINGLEのディスクリプションです。"
      },
      {
        "@context": "http://schema.org",
        "@type": "BreadcrumbList",
        "itemListElement":
        [
          {
            "@type": "ListItem",
            "position": 1,
            "name": "ホーム",
            "item": "https://youlog.net/dist-3rd-last/"
          },
          {
            "@type": "ListItem",
            "position": 2,
            "name": "NEWS",
            "item": "https://youlog.net/dist-3rd-last/news.html"
          },
          {
            "@type": "ListItem",
            "position": 3,
            "name": "NEWS-SINGLE",
            "item": "https://youlog.net/dist-3rd-last/news-single.html"
          }
        ]
      }
    ]
  </script>
</head>

<body class="ly_bgImg" style="background-image: url('./img/backgroungImage@2x.jpg');">


  <%# ----------------_headerを読み込む---------------- %>
  <%- include('./_header.ejs') %>


  <main>

    <%# ----------------_first-view-shortを読み込む---------------- %>
    <%- include('./_first-view-short.ejs') %>

    <%# ----------------_first-view-btnを読み込む---------------- %>
    <%- include('./_first-view-btn.ejs') %>

    <!-- BREADCRUMBS -->
    <nav class="ly_container ly_container__paddingContents bl_breadcrumbs">
      <ol class="bl_breadcrumbs_ol" itemscope itemtype="https://schema.org/BreadcrumbList">
        <li class="bl_breadcrumbs_li" itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
          <a class="bl_breadcrumbs_link" href="https://youlog.net/3rdLast/index.html" itemprop="item">
            <span class="bl_breadcrumbs_txt" itemprop="name">ホーム</span>
          </a>
          <meta itemprop="position" content="1" />
        </li>
        <li class="bl_breadcrumbs_li" itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
          <a class="bl_breadcrumbs_link" href="https://youlog.net/3rdLast/news.html" itemprop="item">
            <span class="bl_breadcrumbs_txt" itemprop="name">NEWS</span>
          </a>
          <meta itemprop="position" content="2" />
        </li>
        <li class="bl_breadcrumbs_li" itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
          <span class="bl_breadcrumbs_txt" itemprop="name">完全版マハーバーラタ 2020年7月・東京公演！！</span>
          <meta itemprop="position" content="3" />
        </li>
      </ol>
    </nav>
    <!-- / BREADCRUMBS -->

    <!-- ARTICLE -->
    <section class="ly_container ly_container__paddingContents bl_article">
      <article class="bl_article">
        <figure class="bl_article_imgWrapper">
          <img src="./img/news_mahabaLata_img@2x.jpg" alt="サムネイル画像" class="bl_article_img">
        </figure>
        <div class="bl_article_ttlArea">
          <time class="bl_article_date" datetime="2019-09-30">2019.09.30</time>
          <h1 class="bl_article_ttl">完全版マハーバーラタ 2020年7月・東京公演！！</h1>
        </div>
        <!-- / .bl_article_ttlArea -->
        <div class="bl_article_contentArea">
          <h2>
            世界最長の叙事詩をピーター・ブルック以来の全編舞台化
            2020年 7月4日〜7日 なかのZERO　大ホールにて！
          </h2>

          <h2>
            ストーリー
          </h2>

          <p>
            マハー（偉大な）、バーラタ（バラタ族）、つまり「偉大なバラタ族」の物語。神々が人間界を作り出すところから始まり、バラタ族の中のクル家とパーンドゥ家という二つの部族間の対立を巡るストーリー。神の血を引く個性豊かな登場人物たちによる差別、対立、欲望、嫉妬など、生の苦しみが描かれ、最終的には一族が破滅していく。
          </p>

          <p>
            世界的な文学作品古代ギリシャの「イーリアス」「オデュッセイア」と並ぶ世界三大叙事詩の一つに数えられており、「ラーマーヤナ」と双璧を成すインド二大叙事詩の一つ。原語はサンスクリット語であるが、全18巻、10万詩節を超えるその長さは聖書の約4倍と言われ、原典の日本語訳はいまだ完結していない。
          </p>

          <p>
            インドだけでなくアジア全般で広く知られた作品であり、TVドラマや映画の原案として使われることも多い。全編舞台化の難しさ日本では、イギリスの演出家ピーター・ブルックがワールドツアーの一環として1988年6月に銀座セゾン劇場で上演。三部作であったが、上演時間は9時間にも及んだ。
            日本人の作品としては演出家・宮城聰が『マハーバーラタ～ナラ王の冒険』や歌舞伎作品『極付印度伝マハーバーラタ戦記』として、「マハーバーラタ」の長大なストーリーの一部分を舞台化した。全編上映はブルック以外にめぼしい作品は世界的にも存在しない。
          </p>

          <h2>
            なぜ今「マハーバーラタ」なのか？
          </h2>

          <p>「平和」について改めて考えるストーリー全世界を司るものが神だとすれば、なぜ神であるクリシュナは、策を巡らしてまで、登場人物すべてを滅亡へと導いたのか？</p>

          <p>それは、「戦い」そのものを廃絶しようとしたからだと考えられる。戦うことそのものへの虚しさ、「戦い」そのものの「悪」を問う物語が「マハーバーラタ」と言える。</p>

          <p>
            平和とは？私たちには何ができるのか？根源的な「平和」を希求する物語。現代社会を映し出す人間ドラマ対難民問題やヘイトスピーチ問題に見られるように、文化的背景が「異」なるものに対して非寛容になりつつある現代社会。神の血を引きながらも、現代人同様に欲望や嫉妬によって争う登場人物たちが破滅していく様を描いた「マハーバーラタ」のストーリーは、人類が歩んできた争いの歴史の物語とも言い換えられる。非寛容による悲劇の物語である「マハーバーラタ」を現代社会に重ね合わせつつ描くことで「寛容」の重要性を示す。「多様性の共生」というアジア的思想アジアでは、多様な歴史、文化、気候や地形がそれぞれの社会に影響を及ぼし、多様な言語や宗教、伝統が共存する。
          </p>

          <p>
            また、芸術面に関して言えば、アジアにおける伝統舞台芸術の多くは演劇・舞踊・音楽などのジャンルを分けることなく融合的に用いる。この多様性がアジアの特徴であり、「共生」がアジア的思想の鍵と言える。<br>
            人種や宗教、歴史などの多様性を持つアジア的思想や哲学の源流である古典叙事詩「マハーバーラタ」の全編舞台化を通して、多様化する現代社会に生きる観客へ向けて、今後の世界に求められる「共生」社会のあり方を提示する。
          </p>
        </div>
        <!-- /.bl_article_content -->
      </article>


      <div class="bl_pageNav">
        <div class="bl_pageNav_prev">
          <a href="#" class="bl_pageNav_prevLink">
            <i class="fas fa-chevron-circle-left"></i>
            <div class="bl_pageNav_prevInner">
              <time class="bl_pageNav_date" datetime="2019-09-28">2019.9.28</time>
              <p class="bl_pageNav_ttl">前のニュース
              </p>
            </div>
          </a>
        </div>
        <div class="bl_pageNav_next">
          <a href="#" class="bl_pageNav_nextLink">
            <div class="bl_pageNav_nextInner">
              <time class="bl_pageNav_date" datetime="2019-09-28">2019.9.28</time>
              <p class="bl_pageNav_ttl">次のニュース</p>
            </div>
            <i class="fas fa-chevron-circle-right"></i>
          </a>
        </div>
      </div>
      <!-- /.bl_pageNav -->
    </section>
    <!-- /.bl_article -->
    <!-- / ARTICLE -->

    <!-- SCHEDULE -->
    <%# ----------------_scheduleを読み込む---------------- %>
    <%- include('./_schedule.ejs') %>
    <!-- SCHEDULE -->

  </main>

  <!-- FOOTER -->
  <%# ----------------_footerを読み込む---------------- %>
  <%- include('./_footer.ejs') %>
  <!-- FOOTER -->

</body>

</html>