<!DOCTYPE html>
<html lang="ja">

<head>
  <%# ##_headを読み込み## %>
  <%- include('./_head.ejs', {CONFIG: config["news"]}); %>
  <script type="application/ld+json">
    [
      {
        "@context": "http://schema.org",
        "@type": "WebPage",
        "@id": "https://youlog.net/dist-3rd-last/news.html",
                "name": "NEWS-練習用サイト",
                "description": "NEWSのディスクリプションです。"
      },
      {
        "@context": "http://schema.org",
        "@type": "BreadcrumbList",
        "itemListElement":
        [
          {
            "@type": "ListItem",
            "position": 1,
            "name": "ホーム",
            "item": "https://youlog.net/dist-3rd-last/"
          },
          {
            "@type": "ListItem",
            "position": 2,
            "name": "NEWS",
            "item": "https://youlog.net/dist-3rd-last/news.html"
          }
        ]
      }
    ]
  </script>
</head>

<body class="ly_bgImg" style="background-image: url('./img/backgroungImage@2x.jpg');">

  <!-- HEADER -->
  <%# ----------------_headerを読み込む---------------- %>
  <%- include('./_header.ejs') %>
  <!-- / HEADER -->



  <main>

    <!-- FIRST VIEW -->
    <%# ----------------_first-view-shortを読み込む---------------- %>
    <%- include('./_first-view-short.ejs') %>
    <!-- / FIRST VIEW -->

    <!-- FIRST VIEW BTN -->
    <%# ----------------_first-view-btnを読み込む---------------- %>
    <%- include('./_first-view-btn.ejs') %>
    <!-- FIRST VIEW BTN -->

    <!-- BREADCRUMBS -->
    <nav class="ly_container ly_container__paddingContents bl_breadcrumbs">
      <ol class="bl_breadcrumbs_ol" itemscope itemtype="https://schema.org/BreadcrumbList">
        <li class="bl_breadcrumbs_li" itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
          <a class="bl_breadcrumbs_link" href="https://youlog.net/3rdLast/index.html" itemprop="item">
            <span class="bl_breadcrumbs_txt" itemprop="name">ホーム</span>
          </a>
          <meta itemprop="position" content="1" />
        </li>
        <li class="bl_breadcrumbs_li" itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
          <span class="bl_breadcrumbs_txt" itemprop="name">NEWS</span>
          <meta itemprop="position" content="2" />
        </li>
      </ol>
    </nav>
    <!-- / BREADCRUMBS -->

    <!-- NEWS -->
    <section class="ly_container ly_container__paddingContents bl_news">
      <!-- <div class="bl_news"> -->
      <div class="bl_news_inner">
        <h1 class="el_h2">NEWS</h1>
        <div class="bl_colUnit bl_colUnit__col3">
          <div class="bl_colItem">
            <a class="bl_card" href="./news-single.html">
              <figure class="bl_card_imgWrapper">
                <img alt="写真：HTMLコードが写っている画面" src="https://placehold.jp/150x50.png">
              </figure>
              <div class="bl_card_body">
                <time class="bl_card_date" datetime="2019-09-30">
                  2019.9.30
                </time>
                <p class="bl_card_txt">
                  「完全版マハーバーラタ」2020年7月・東京公演！！
                </p>
              </div>
              <!-- /.bl_card_body -->
            </a>
          </div>
          <!-- /.bl_colItem -->
          <div class="bl_colItem">
            <a class="bl_card" href="./news-single.html">
              <figure class="bl_card_imgWrapper">
                <img alt="写真：HTMLコードが写っている画面" src="./img/news-card_02_img@2x.jpg">
              </figure>
              <div class="bl_card_body">
                <time class="bl_card_date" datetime="2019-09-30">
                  2019.9.30
                </time>
                <p class="bl_card_txt">
                  タイトルタイトルタイトルタイトルタイトルタイトルタイトルタイトルタイトルタイトルタイトルタイトルタイトルタイトルタイトル
                </p>
              </div>
              <!-- /.bl_card_body -->
            </a>
          </div>
          <!-- /.bl_colItem -->
          <div class="bl_colItem">
            <a class="bl_card" href="./news-single.html">
              <figure class="bl_card_imgWrapper">
                <img alt="写真：HTMLコードが写っている画面" src="./img/news-card_03_img@2x.jpg">
              </figure>
              <div class="bl_card_body">
                <time class="bl_card_date" datetime="2019-09-30">
                  2019.9.30
                </time>
                <p class="bl_card_txt">
                  タイトルタイトルタイトルタイトルタイトルタイトルタイトルタイトルタイトルタイトルタイトルタイトルタイトルタイトルタイトル
                </p>
              </div>
              <!-- /.bl_card_body -->
            </a>
          </div>
          <!-- /.bl_colItem -->
          <div class="bl_colItem">
            <a class="bl_card" href="./news-single.html">
              <figure class="bl_card_imgWrapper">
                <img alt="写真：HTMLコードが写っている画面" src="./img/news-card_mahabaLata_img@2x.jpg">
              </figure>
              <div class="bl_card_body">
                <time class="bl_card_date" datetime="2019-09-30">
                  2019.9.30
                </time>
                <p class="bl_card_txt">
                  「完全版マハーバーラタ」2020年7月・東京公演！！
                </p>
              </div>
              <!-- /.bl_card_body -->
            </a>
          </div>
          <!-- /.bl_colItem -->
          <div class="bl_colItem">
            <a class="bl_card" href="./news-single.html">
              <figure class="bl_card_imgWrapper">
                <img alt="写真：HTMLコードが写っている画面" src="./img/news-card_02_img@2x.jpg">
              </figure>
              <div class="bl_card_body">
                <time class="bl_card_date" datetime="2019-09-30">
                  2019.9.30
                </time>
                <p class="bl_card_txt">
                  タイトルタイトルタイトルタイトルタイトルタイトルタイトルタイトルタイトルタイトルタイトルタイトルタイトルタイトルタイトル
                </p>
              </div>
              <!-- /.bl_card_body -->
            </a>
          </div>
          <!-- /.bl_colItem -->
          <div class="bl_colItem">
            <a class="bl_card" href="./news-single.html">
              <figure class="bl_card_imgWrapper">
                <img alt="写真：HTMLコードが写っている画面" src="./img/news-card_03_img@2x.jpg">
              </figure>
              <div class="bl_card_body">
                <time class="bl_card_date" datetime="2019-09-30">
                  2019.9.30
                </time>
                <p class="bl_card_txt">
                  タイトルタイトルタイトルタイトルタイトルタイトルタイトルタイトルタイトルタイトルタイトルタイトルタイトルタイトルタイトル
                </p>
              </div>
              <!-- /.bl_card_body -->
            </a>
          </div>
          <!-- /.bl_colItem -->
          <div class="bl_colItem">
            <a class="bl_card" href="./news-single.html">
              <figure class="bl_card_imgWrapper">
                <img alt="写真：HTMLコードが写っている画面" src="./img/news-card_mahabaLata_img@2x.jpg">
              </figure>
              <div class="bl_card_body">
                <time class="bl_card_date" datetime="2019-09-30">
                  2019.9.30
                </time>
                <p class="bl_card_txt">
                  「完全版マハーバーラタ」2020年7月・東京公演！！
                </p>
              </div>
              <!-- /.bl_card_body -->
            </a>
          </div>
          <!-- /.bl_colItem -->
          <div class="bl_colItem">
            <a class="bl_card" href="./news-single.html">
              <figure class="bl_card_imgWrapper">
                <img alt="写真：HTMLコードが写っている画面" src="./img/news-card_02_img@2x.jpg">
              </figure>
              <div class="bl_card_body">
                <time class="bl_card_date" datetime="2019-09-30">
                  2019.9.30
                </time>
                <p class="bl_card_txt">
                  タイトルタイトルタイトルタイトルタイトルタイトルタイトルタイトルタイトルタイトルタイトルタイトルタイトルタイトルタイトル
                </p>
              </div>
              <!-- /.bl_card_body -->
            </a>
          </div>
          <!-- /.bl_colItem -->
          <div class="bl_colItem">
            <a class="bl_card" href="./news-single.html">
              <figure class="bl_card_imgWrapper">
                <img alt="写真：HTMLコードが写っている画面" src="./img/news-card_03_img@2x.jpg">
              </figure>
              <div class="bl_card_body">
                <time class="bl_card_date" datetime="2019-09-30">
                  2019.9.30
                </time>
                <p class="bl_card_txt">
                  タイトルタイトルタイトルタイトルタイトルタイトルタイトルタイトルタイトルタイトルタイトルタイトルタイトルタイトルタイトル
                </p>
              </div>
              <!-- /.bl_card_body -->
            </a>
          </div>
          <!-- /.bl_colItem -->


        </div>
        <!-- / .bl_cardUnit.bl_cardUnit__col3 -->
        <!-- PAGER -->
        <nav class="bl_pager">
          <ul class="bl_pager_inner">
            <li class="bl_pager_item"><span class="bl_pager_link is_current" href="#">1</span></li>
            <li class="bl_pager_item"><a class="bl_pager_link" href="#">999</a></li>
            <li class="bl_pager_item"><a class="bl_pager_link bl_pager_link__active" href="#">&#62;</a></li>
          </ul>
        </nav>
        <!-- / PAGER -->
      </div>
      <!-- /.bl_news_inner -->
      <!-- </div> -->
    </section>
    <!-- / NEWS -->


    <!-- SCHEDULE -->
    <%# ----------------_scheduleを読み込む---------------- %>
    <%- include('./_schedule.ejs') %>
    <!-- SCHEDULE -->

  </main>

  <!-- FOOTER -->
  <%# ----------------_footerを読み込む---------------- %>
  <%- include('./_footer.ejs') %>
  <!-- FOOTER -->

</body>

</html>